<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ReadIntervalMillisec" value="200" />
    <add key="DP831_SN" value="DP8C194807153" />
    <add key="DP831_OCP_A_CH1" value="0.6"/>
    <add key="DP831_OVP_V_CH1" value="4.6"/>
    <add key="DP831_OCP_A_CH2" value="0.6"/>
    <add key="DP831_OVP_V_CH2" value="4.6"/>
    <add key="DEF_VSET_CH1" value="3.3" />
    <add key="DEF_VSET_CH2" value="1.6" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>