<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="APAS__CoreLib" version="1.0.1.1" targetFramework="net461" />
  <package id="APAS__PluginContract" version="1.0.13.18" targetFramework="net461" />
  <package id="APAS__SystemServiceContract" version="1.0.17.24" targetFramework="net461" />
  <package id="MathNet.Numerics" version="4.9.0" targetFramework="net461" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net461" />
</packages>